mixed-port: 7890
allow-lan: true
mode: global
log-level: info
ipv6: false

proxies:
  - name: "FORCED_TW"
    type: ss
    server: brtlee3ogRTfxtWt.xf9pzeslxw.sbs
    port: 17001
    cipher: aes-256-gcm
    password: 1d23e3c5-c047-46a0-b7d8-d838aff7ae8d
    udp: true

rules:
  # 必须只有这一行，强制匹配所有流量
  - MATCH,FORCED_TW
