- name: 安装 Chrome 浏览器
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: 设置 Python 并安装依赖
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: 一键安装 requirements.txt 依赖
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: 运行抓取脚本
      run: python iptv_main.py
