- name: Setup Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Install dependencies
      run: |
        pip install selenium selenium-wire chromedriver-autoinstaller requests

    - name: Run Sync Script
      run: python cloud_sync.py
