name: Ofiii-Auto-Sync-Direct

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  run-sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 检出代码
        uses: actions/checkout@v3

      - name: 设置 Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 安装 Chrome 浏览器
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: 安装依赖
        run: |
          pip install blinker==1.7.0 selenium==4.9.0 selenium-wire==5.1.0 chromedriver-autoinstaller

      - name: 启动爬虫
        run: python cloud_sync.py

      - name: 提交并同步
        run: |
          git config --local user.email "bot@github.com"
          git config --local user.name "TV-Bot"
          git add workers.js
          git commit -m "Direct Proxy Update: $(date)" || exit 0
          git push
