name: IPTV Sync Agent
on:
  schedule: [{cron: '0 19 * * *'}]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Proxy
        run: |
          wget -qO- https://github.com/MetaCubeX/mihomo/releases/download/v1.18.9/mihomo-linux-amd64-v1.18.9.gz | gunzip > clash
          chmod +x clash
          cat <<EOF > c.yaml
mixed-port: 7890
mode: global
proxies:
  - {name: TW, type: ss, server: brtlee3ogRTfxtWt.xf9pzeslxw.sbs, port: 17001, cipher: aes-256-gcm, password: 1d23e3c5-c047-46a0-b7d8-d838aff7ae8d}
EOF
          ./clash -f c.yaml &
          sleep 15
      - name: Run
        env:
          HTTP_PROXY: http://127.0.0.1:7890
          HTTPS_PROXY: http://127.0.0.1:7890
        run: |
          pip install requests
          python cloud_sync.py
